<section id="home">
  <div>
    <span>Hi I'm</span><br>
    <span style="font-size: 75px;">John Alfred Lirio</span><br>
    <span style="font-size: 45px;">Aspiring Web Developer</span><br>
    <span style="font-size: 30px;">Want to know more about me?<br>Continue below..</span>

  </div>
</section>

<section id="about">
  <h2>About</h2>
  <img src="./assets/1x1.jpg" class="myPic" alt="John 1x1 picture">
  <p>Hi. I'm <b>John Alfred Lirio</b> and I am an aspiring web developer. I'm passionate in creating web applications with the latest technologies available at the current market.</p>
  <p>Currently learning frontend languages and building this portfolio with the help of <b>Angular/Typescript</b></p>
  <p>Technologies I'm currently using are:</p>
  <ul class="list">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>SASS</li>
    <li>Javascript</li>
    <li>Angular</li>
    <li>Typescript</li>
  </ul>
</section>

<section id="exp">
  <h2>Experience</h2>
  <div class="rowExp">
    <div class="column left">
      <button (click)="comp1($event)">IRIS Inc.</button>
      <button (click)="comp2($event)">Accenture Inc.</button>
    </div>
    <div class="column right" [ngSwitch]="company">
      <span *ngSwitchCase="'company1'"><b>Data Technician, IRIS Inc.</b><br>December 1, 2021 - Present<br><br>Analyzes client data and extracts what is needed by them per request on a daily basis.</span>
      <span *ngSwitchCase="'company2'"><b>App/Cloud Support Associate, Accenture Inc.</b><br>December 9, 2020 - November 30, 2021<br><br>Monitored and configured firewalls, switches, servers and other network devices for different ASEAN offices remotely. <br><br>Allocated IPs to various projects and VM allocations. Troubleshooted downed devices or interfaces. Configured packet shaper bandwidth. <br><br>Checked the health of the devices remotely.</span>
    </div>
  </div>

</section>

<section id="project">
  <h2 class="center">Projects</h2>
  <div class="projects">
    <div class="project"><img src="./assets/calc1.jpg" alt="calculator image">
      <span class="project1"><b>Calculator</b><br><a href="https://github.com/jaclirio/calculator" target="_blank" rel="noopener" class="linkCode">Link to Code</a><br>Javascript
      </span>
    </div>
    <div class="project"><img src="./assets/tic1.jpg" alt="tictactoe image">
      <span class="project2"><b>Tic-Tac-Toe</b><br><a href="https://github.com/jaclirio/tictactoe" target="_blank" rel="noopener" class="linkCode">Link to Code</a><br>Javascript
      </span>
    </div>
  </div>
</section>

<section id="contact">
  <h2 class="center">Contact</h2>
  <div class="reference">
    <a href="mailto:johnalfredlirio@gmail.com" class="email">johnalfredlirio@gmail.com</a>
    <span>
      <a class="logo" href="https://www.linkedin.com/in/john-alfred-lirio/" target="_blank" rel="noopener"><img src="./assets/linkedin.png" alt="linkedin image"></a>
      <a class="logo" href="https://github.com/jaclirio" target="_blank" rel="noopener"><img src="./assets/github.png" alt="github image"></a>
      <a class="logo" href="https://stackoverflow.com/users/18569476/john-lirio" target="_blank" rel="noopener"><img class ="stack" src="./assets/stackoverflow.png" alt="stackoverflow image"></a>
    </span>
  </div>
</section>
